


h1 , h2, h4 {
    color: #3A5A40;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

h3 {
    color: #3A5A40;
}

div {
    text-align: center;
}

p   {
    /* color: #A3B18A ; */
    width: 100%;
    height: 100px;
    overflow: auto;
}

ul {
    list-style: none;
    text-align: center;
}

#section1 {
    text-align: center;
   
}

#section1-1 {

}

#section1content {
    text-align: left;
    display: inline-block;
    max-width: 60%;
}

.button {
    background-color: #588157;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
}

.perfil-serio {
    float: inline-start;
}

footer {
    text-align: center;
}